.card-layout{
    align-items:center;
    justify-content:center;
    width:100%;
}
.card-layout__box{
    background:fade-out($light-purple, .15);
    border: 1px solid $dark-blue;
    border-radius:3px;
    padding:$l-size $m-size;
    margin:$m-size;
    text-align: center;
}
.card-layout__title{
    margin:0 0 $m-size 0;
    line-height: 1;
    
}