.photo-mia {
  position: relative;
  margin: 4.9rem auto 2.5rem;
  width: 16rem;
  height: 16rem;

  .photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .play-icon {
    position: absolute;
    left: 13.4rem;
    top: 10.8rem;
    width: 3.7rem;
    height: 3.7rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}
