.reflection-start-message {
  height: 5rem;
  max-width: 27rem;
  margin: 0 auto 0.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: $off-black;
}
